
 
  *{
    margin: 0px;
    box-sizing: border-box;
  }

.App {
 
  .pagina{
    display: flex;
    flex-direction: row;
    
  }

  .canto{
    min-height: 100%;
    width: 250px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px;
  }

  .canto > img{
      height: 150px;
      width: 150px;
  }

  .pages{
    color: white;
    padding-top: 100px;
    width: 100%;
    
  }
  .pages img{
    width: 20px;
  }

  .pages div{
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 25px;
    width: 100%;
  }

  .pages div:hover{
    background-color: purple;
    transition: 0.4s;
  }

  .pages div h1{
    font-size: 15px;
  }

  .conteudo{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .cabe{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    width: 100%;
    height: 80px;
    box-shadow: 0px 0px 15px #b9b9b9;
  }

  .cabe h1{
    font-size: 14px;
    color: #8b8b8b;

  }

 .baixo{
  align-items: center;
  gap: 13px;
  flex-direction: column;
  padding: 35px;


 }

 .baixo p{
  padding: 5px;
  color: orange;
  font-size: 14px

 }
 .baixo > h1{
  padding: 2px;
  font-size: 32px;
  

 }

 .cubo{
  padding: 40px;
 
  height: 514px;
  width: 1076;
  box-shadow: 0px 0px 15px #afafaf;
  margin: 30px 0px;

 }

 .input{
 border: 1px solid #747474;
 margin: 10px 0px;
 padding: 5px;
 width: 350px;
 height: 50px;
  
 }

 .input h1{
 font-size: 10px;
 color: #747474;

 }

 .input input{
  border: none;
  outline: 0;
  width: 300px;
 }

 .cubo > h1{
  font-size: 24px;
  padding: 10px 0px;
 }

 .cubo button{
  width: 100px;
  height: 36px;
  font-size: 12px;
  background-color: #7A14C0;
  color: white;
  border-radius: 5px;
  border: none;
 }
 
 .cubo button:hover{
   width: 120px;
   



 }

 .input2{
  border: #747474 solid 1px;
  outline: 0;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
 }

 .input2 input{
  border: none;
  outline: 0;
 }

 .input2 h1{
  font-size: 10px;
  color: #747474;
 }

 


}
